@font-face{
	font-family: 'Chronica Pro';
	src: url('ChronicaPro-SemiLight.otf');
	font-weight: normal;
}
@font-face{
	font-family: 'Chronica Pro Thin';
	src: url('ChronicaPro-Thin.otf');
	font-weight: lighter;
}
h1 { 
	font-family: 'Chronica Pro Thin';
}
h2 { 
	font-family: 'Chronica Pro Thin';
}
body {
	font-family: 'Chronica Pro';
	background-color: #282c34;
	text-align: center;
	color: #d4e0ff;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.main_container {
	background-color: #00000090;
	border-radius: 12px;
	display: inline-block;
	padding: 12px;
}
.w3-button {
	border-radius: 12px;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:black;
	background-color:#d4e0ff;
	text-align:center;
	cursor:pointer;
	font-size:20px;
	white-space:nowrap
}
.w3-button:hover {
	color:#000!important;
	background-color:#ccc!important
}
.w3-button_inc {
	border-radius: 4px;
	border: none;
	padding:1px 2px ;
	margin-right: -4px;
	margin-left: -4px;
	padding-left:3px;
	padding-right:3px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color: #d4e0ff;
	background-color:#2194f3FF;
	text-align:center;
	cursor:pointer;
	font-size:16px;
	white-space:nowrap
	display: inline-block;	
}
.w3-button_inc:hover {
	color:#000!important;
	background-color:#ccc!important
}
.w3-button_dec {
	border-radius: 4px;
	border: none;
	padding:1px 2px ;
	padding-left:5px;
	padding-right:5px;
	margin-right: -4px;
	margin-left: -4px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color: #d4e0ff;
	background-color:#2194f3FF;
	text-align:center;
	cursor:pointer;
	font-size:16px;
	white-space:nowrap
	display: inline-block;	
}
.w3-button_dec:hover {
	color:#000!important;
	background-color:#ccc!important
}
.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 28px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 28px;
}
.slider.round:before {
	border-radius: 50%;
}
input[type=number] {
	-moz-appearance: textfield;
}
div {
	font-family: 'Chronica Pro';
	font-weight: normal;
}
input, textarea {
	text-align: center;
	color: #d4e0ff;
	border: 1px solid #d4e0ff;
	border-radius: 4px;
	background-color : #00000000; 

}
select {
	border-radius: 4px;
	color: #d4e0ff;
	border: 1px solid #d4e0ff;
	background-color : #00000000; 
}
#container {
	margin-left: 20px;
	text-align:left;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#container > div {
  width: 150px;
  height: 27px;
}

#left{text-align:left;}
#right{text-align:right;}
input, textarea {
	color: #d4e0ff;
	border: 1px solid #d4e0ff;
	border-radius: 4px;
	background-color : #00000000; 

}
select {
	color: #d4e0ff;
	border: 1px solid #d4e0ff;
	border-radius: 4px;
	background-color : #00000000; 
}
