.idea
*.iml
out
gen
blackbox
build

/Eitude/__vm/
/Eitude/.vs/
/Eitude/Eitude.sln
/Eitude/Eitude.vcxproj
/Eitude/Eitude.vcxproj.filters
/Eitude/Eitude.vcxproj.user
/Eitude/Release/
!/Eitude/Release/Eitude.hex

/Sonarus/.vs/
/Sonarus/__vm/
/Sonarus/Sonarus.sln
/Sonarus/Sonarus.vcxproj
/Sonarus/Sonarus.vcxproj.filters
/Sonarus/Sonarus.vcxproj.user
/Sonarus/Release/
!/Sonarus/Release/Sonarus.hex

/GPS-mixer/.vs/
/GPS-mixer/__vm/
/GPS-mixer/GPS-mixer.sln
/GPS-mixer/GPS-mixer.vcxproj
/GPS-mixer/GPS-mixer.vcxproj.filters
/GPS-mixer/GPS-mixer.vcxproj.user
/GPS-mixer/Release/
!/GPS-mixer/Release/GPS-mixer.bin
