arch: amd64

os: linux
dist: xenial

language: generic

branches:
  only:
    - main
    
git:
  depth: 1
  
notifications:
  email: false
  
jobs:
  fast_finish: true
  include:
    - stage: Build
      name: 'Liberty-Way Build'
      language: java
      script: ant main
      
    - stage: Build
      name: 'Arduino builds'
      language: c
      before_script:
        - wget https://github.com/arduino/arduino-cli/releases/download/0.18.3/arduino-cli_0.18.3_Linux_64bit.tar.gz
        - tar -xf arduino-cli_0.18.3_Linux_64bit.tar.gz
        - sudo mv arduino-cli /usr/bin/ino
      script:
        - mkdir $HOME/Arduino/hardware
        - mkdir $HOME/.arduino15
        - ino config init
        - ino core update-index
        - ino core install arduino:avr
        - ino core install stm32duino:STM32F1 --additional-urls http://dan.drown.org/stm32duino/package_STM32duino_index.json
        - ino core list
        - ino lib install 'EtherCard' 'Adafruit NeoPixel'
        
        - cd Eitude
        - ino compile --fqbn arduino:avr:uno Eitude.ino
        
        - cd ../Sonarus
        - ino compile --fqbn arduino:avr:uno Sonarus.ino
        
        - cd ../GPS-mixer
        - ino compile --fqbn stm32duino:STM32F1:genericSTM32F103C GPS-mixer.ino
        
    - stage: Build
      name: 'Documentation'
      language: node_js
      node_js:
        - "10"
      before_script:
        - npm install markdownlint-cli -g
        - markdownlint -V
      script:
        - markdownlint '**/*.md'
        
