<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="favicon.png"/>
		<link rel="stylesheet" href="stylesheet.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Liberty-Way AMLS (ABORTED)</title>
	</head>
	<body>
	<div class="main_container">
		<h1>
			<a style="color: #f15b4e">L</a><a style="color: #f6821d">i</a><a style="color: #fed206">b</a><a style="color: #61bc46">e</a><a style="color: #299bb7">r</a><a style="color: #0178d5">t</a><a style="color: #a93daa">y</a><a style="color: #96b4ff">-Way</a>
			<a style="color: #96b4ff">AMLS</a>
		</h1>
		<h2>
			<a>&nbsp;</a><a style="color: #ff0000">Connection closed</a><a>&nbsp;</a>
		</h2>
		<br>
		<img src="closed.jpg">
	</div>
	</body>
</html>
