<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="favicon.png"/>
		<link rel="stylesheet" href="stylesheet.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Liberty-Way AMLS</title>
		<script src="start_loop.js"></script>
	</head>
	<body>
		<div class="main_container">
			<h1>
				<a style="color: #f15b4e">L</a><a style="color: #f6821d">i</a><a style="color: #fed206">b</a><a style="color: #61bc46">e</a><a style="color: #299bb7">r</a><a style="color: #0178d5">t</a><a style="color: #a93daa">y</a><a style="color: #96b4ff">-Way</a>
				<a style="color: #96b4ff">AMLS</a>
			</h1>
			<br>

			<div id="container">
				<div>
					<input type="checkbox" id="cnc_port_enabled">
					<label for="cnc_port_enabled"> CNC Port: </label>
				</div>
				<div>
					<select id="cnc_ports" name="cnc_ports">
						{{ cnc_ports }}
					</select>
					<select id="cnc_baudrate" name="cnc_baudrate">
						<option value="57600">57600</option>
						<option value="9600">9600</option>
						<option value="14400">14400</option>
						<option value="19200">19200</option>
						<option value="28800">28800</option>
						<option value="33600">33600</option>
						<option value="38400">38400</option>
						<option value="115200">115200</option>
					</select>
				</div>
			</div>

			<div id="container">
				<div>
					<input type="checkbox" id="rf_port_enabled" checked>
					<label for="rf_port_enabled"> RF Port: </label>
				</div>
				<div>
					<select id="rf_ports" name="rf_ports">
						{{ rf_ports }}
					</select>
					<select id="rf_baudrate" name="rf_baudrate">
						<option value="57600">57600</option>
						<option value="9600">9600</option>
						<option value="14400">14400</option>
						<option value="19200">19200</option>
						<option value="28800">28800</option>
						<option value="33600">33600</option>
						<option value="38400">38400</option>
						<option value="115200">115200</option>
					</select>
				</div>
				
			</div>


			<div id="container">
				<div>
					<input type="checkbox" id="udp_ip_port_enabled">
					<label for="udp_ip_port">UDP Ip/Port: </label>
				</div>
				<div><input type="text" id="udp_ip_port" placeholder="xxx.xxx.xxx.xxx:xxxx" value="192.168.1.184:9876" style="width: 9em;"></input></div>
			</div>
			<br>
			<div id="container">
				<div><label for="camera_id">Camera ID: </label></div>
				<div><input id="camera_id" type="number" style="width: 3em;" value="0"></div>
			</div>
			
			<div id="container">
				<div><label for="camera_exp">Exposure: </label></div>
				<div><input id="camera_exp" type="number" style="width: 3em;" value="-8"></div>
			</div>
			
			<p><button id="btn_start" class="w3-button" onclick="start_loop()">Start</button>
			<a href="/abort">
				<button class="w3-button" style="background-color: #ff6385">Abort</button>
			</a>
			</p>
		</div>
	</body>
</html>
